@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --hero : #f1f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #006FEE;
  }
}
body{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.btn{
  box-shadow: 0px 6px 10px #006FEE;
}

.hero-section{
  height: 50vh;
}
.hero{
  background-color: var(--hero);
  transform: rotate(-2deg);
  box-shadow: inset 4px 0px 0px 0px rgba(0, 0, 0, 0.1); /* Lichte schaduw aan alle kanten */
  transition: box-shadow 0.3s ease;
}
.inlog_logo{
  box-shadow: inset 3px 4px 15px rgba(0, 0, 0, 0.2);
}
.hero h2,p{
  transform: rotate(2deg);
}
.email input,.wachtwoord input{
  border: solid 1px #A1A1A1;
  width: 300px;
  max-width: 300px;
}
.inlog_form form input::placeholder{
  font-size: 13px;
}
.inlog_form form span{
  border: solid 2px #A1A1A1;
}
.btn-style{
  border: solid 1px #A1A1A1;
  width: 300px;
  max-width: 300px;
}
.melding::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: red; /* Maak het zichtbaar */
  border-radius: 50%; /* Optioneel, maak het een cirkel */
  top: 0;
  right: 1;
  z-index: 999;
}
.verlof_vragen{
  border: solid 1px #006FEE;
  background-color: rgb(209, 229, 252);
}
.plus_img{
  top: 6px;
  left: 8px;
}
.uw_aanvraag ,.aanvraag_row{
  border: solid 1px #A1A1A1;
  
}
.span_zoken{
  border: solid 1px #A1A1A1;
}
.rows{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.rows::-webkit-scrollbar {
  display: none; /* Chrome, Safari en andere Webkit browsers */
}
